########################
#    Ignore Tokens     #
########################
*.token

########################
#     Ignore Data      #
########################
# *.png
*.jpeg
*.jpg
# *.txt 
*.json
*.csv

